{
    "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "babel-plugin-direct-import",
            {
                "modules": [
                    "@mui/lab",
                    "@mui/material",
                    "@mui/x-date-pickers"
                ]
            }
        ]
    ],
}